# 부동산 데이터 탐색
* 상업/업무용

In [2]:
import numpy as np
import pandas as pd
import os
import glob
import plotly

In [34]:
path = "Dataset/COMMERCE"
allFiles = glob.glob(os.path.join(path,"*.csv"))

In [35]:
allFiles

['Dataset/COMMERCE\\상업업무용(매매)-실거래가-201808.csv',
 'Dataset/COMMERCE\\상업업무용(매매)-실거래가-201809.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201512.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201601.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201602.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201603.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201604.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201605.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201606.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201607.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201608.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201609.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201610.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201611.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201612.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201701.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201702.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201703.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201704.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201705.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201706.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201707.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201708.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201709.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201710.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201711.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201712.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201801.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201802.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201803.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201804.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201805.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201806.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201807.csv']

In [36]:
np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None,skiprows = 15, engine='python')
    np_array_list.append(df.as_matrix())

comb_np_array = np.vstack(np_array_list)
dataset = pd.DataFrame(comb_np_array)
dataset.columns = df.columns

C:\Anaconda3\envs\public_data_eda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:

Method .as_matrix will be removed in a future version. Use .values instead.

In [37]:
dataset.columns

Index(['시군구', '유형', '지번', '도로명', '용도지역', '건축물주용도', '도로조건', '전용/연면적(㎡)',
       '대지면적(㎡)', '거래금액(만원)', '층', '계약년월', '계약일', '지분구분', '건축년도'],
      dtype='object')

In [38]:
dataset.columns = ["add_1", "type", "add_2","road_name", 
                   "use_district", "building_use", "road_condition", 
                   "GFA", "land_area", "price", "floor", 
                   "year_month", "day", "shares",
                   "built_year"]

In [8]:
dataset.shape # 관측치 : 257739, 항목 : 15

(257739, 15)

In [39]:
dataset.head()

,add_1,type,add_2,road_name,use_district,building_use,road_condition,GFA,land_area,price,floor,year_month,day,shares,built_year
0,강원도 강릉시 교동,일반,9**,화부산로,제2종일반주거,제2종근린생활,25m미만,596.76,307.40,"60,000",NaN,201808,11~20,,1989
1,강원도 강릉시 교동,일반,1***,솔올로5번길,일반상업,제2종근린생활,12m미만,2524.75,590.80,"350,000",NaN,201808,1~10,,2003
2,강원도 강릉시 교동,일반,2**,율곡로2874번길,일반상업,숙박,12m미만,226.56,126.00,"22,000",NaN,201808,21~31,,1983
3,강원도 강릉시 구정면 여찬리,일반,5**,말미길,계획관리,제2종근린생활,8m미만,20.64,84.00,"2,000",NaN,201808,11~20,,2015
4,강원도 강릉시 노암동,일반,5**,남부로136번길,자연녹지,제2종근린생활,8m미만,177.96,900.00,"19,600",NaN,201808,11~20,,2002

In [10]:
dataset.tail()

,add_1,type,add_2,road_name,use_district,building_use,road_condition,GFA,land_area,price,floor,year_month,day,shares,built_year
257734,충청북도 충주시 용산동,일반,2**,용산로,제2종일반주거,제1종근린생활,25m미만,122.32,126.00,"17,000",NaN,201807,11~20,,1974
257735,충청북도 충주시 용산동,일반,1***,남산1길,자연녹지,제2종근린생활,8m미만,22.44,274.33,"3,300",NaN,201807,21~31,,1991
257736,충청북도 충주시 주덕읍 신양리,일반,2**,시장길,일반상업,제2종근린생활,12m미만,151.47,107.00,"13,000",NaN,201807,11~20,,1988
257737,충청북도 충주시 충의동,일반,2*,충인8길,일반상업,제1종근린생활,8m미만,430.61,268.00,"20,000",NaN,201807,21~31,,1980
257738,충청북도 충주시 칠금동,일반,8**,계명대로,준주거,제1종근린생활,25m이상,1376.1,313.10,"247,000",NaN,201807,11~20,,2008

In [40]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257739 entries, 0 to 257738
Data columns (total 15 columns):
add_1             257739 non-null object
type              257739 non-null object
add_2             257739 non-null object
road_name         257739 non-null object
use_district      257739 non-null object
building_use      257739 non-null object
road_condition    257739 non-null object
GFA               257739 non-null object
land_area         257739 non-null object
price             257739 non-null object
floor             118494 non-null object
year_month        257739 non-null object
day               257739 non-null object
shares            257739 non-null object
built_year        253478 non-null object
dtypes: object(15)
memory usage: 29.5+ MB

In [76]:
dataset.dtypes

add_1             object
type              object
add_2             object
road_name         object
use_district      object
building_use      object
road_condition    object
GFA               object
land_area         object
price             object
floor             object
year_month        object
day               object
shares            object
built_year        object
dtype: object

In [176]:
#Edit GFA datatype
dataset['GFA']=dataset['GFA'].astype('float')

In [177]:
dataset['GFA'].describe()

count    257739.000000
mean        219.341199
std        1157.313622
min           0.040000
25%          27.630000
50%          65.760000
75%         175.065000
max      259730.850000
Name: GFA, dtype: float64

In [171]:
#Edit price type
dataset['price'].str.replace(",","").astype('int64')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [178]:
dataset['price'].describe()

count    2.577390e+05
mean     6.497444e+04
std      4.875732e+05
min      1.010000e+02
25%      8.800000e+03
50%      2.250000e+04
75%      5.200000e+04
max      8.932397e+07
Name: price, dtype: float64

In [216]:
#Edit land_area type
dataset['land_area'].describe()

count     257739
unique     13342
top
freq      181002
Name: land_area, dtype: object

In [281]:
pd.value_counts(dataset['land_area'].values, sort=True, ascending=True)

2193.00         1
45.20           1
50.59           1
3144.00         1
1855.00         1
2620.00         1
297.15          1
1341.30         1
77.77           1
823.20          1
523.40          1
151.55          1
31.49           1
574.90          1
232.19          1
82.10           1
3485.00         1
77.24           1
5734.00         1
22.35           1
1720.70         1
17.30           1
274.95          1
795.68          1
2093.00         1
718.10          1
4339.00         1
422.60          1
23.03           1
116.85          1
            ...
136.00        130
83.00         132
106.00        133
96.00         134
496.00        135
169.00        136
205.00        138
155.00        139
175.00        139
86.00         140
122.00        140
152.00        142
126.00        144
116.00        145
109.00        147
202.00        148
145.00        148
142.00        156
159.00        160
162.00        160
119.00        166
149.00        175
660.00        179
99.00         204
198.00        204
132.00        218
331.00        231
165.00        271
330.00        428
           181002
Length: 13342, dtype: int64

In [179]:
dataset.describe()

                 GFA         price
count  257739.000000  2.577390e+05
mean      219.341199  6.497444e+04
std      1157.313622  4.875732e+05
min         0.040000  1.010000e+02
25%        27.630000  8.800000e+03
50%        65.760000  2.250000e+04
75%       175.065000  5.200000e+04
max    259730.850000  8.932397e+07

In [208]:
#built_year
dataset['built_year']=dataset['built_year'].astype('int64')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [210]:
dataset['built_year'].describe()

count    253478.000000
mean       2000.991021
std          23.326165
min           0.000000
25%        1994.000000
50%        2003.000000
75%        2010.000000
max        2018.000000
Name: built_year, dtype: float64

In [271]:
pd.value_counts(dataset['built_year'].values, sort=False, ascending=False)

0.0          20
73.0          1
19.0          3
1800.0        1
1900.0       13
1903.0        1
1905.0        1
1909.0        1
1910.0        5
1913.0        1
1914.0        5
1915.0       10
1916.0        2
1918.0        3
1920.0       17
1.0           1
1921.0        1
1922.0        1
1923.0        1
1924.0       10
1925.0       13
1926.0        6
1927.0        6
1928.0        4
1929.0        8
1930.0       37
1931.0       12
1932.0       12
1933.0       10
1934.0       21
          ...
1989.0     3332
1990.0     4492
1991.0     4875
1992.0     5361
1993.0     5400
1994.0     6115
1995.0     6396
1996.0     7509
1997.0     8200
1998.0     5736
1999.0     3646
2000.0     4629
2001.0     5513
2002.0    10211
2003.0    10791
2004.0    11948
2005.0     9162
2006.0     8809
2007.0    10403
2008.0     9741
2009.0     6733
2010.0     6041
2011.0     5561
2012.0     6290
2013.0     6497
2014.0     6427
2015.0    10219
2016.0    14769
2017.0    10036
2018.0     2804
Length: 114, dtype: int64

In [247]:
print df.query('dataset['built_year']=="0"')

SyntaxError: invalid syntax (<ipython-input-247-18768b385259>, line 1)

In [46]:
dataset['price'].astype('int64')

ValueError: invalid literal for int() with base 10: '60,000'

In [ ]:
#지도학습 1) 가격맞추기 2)분류하기 (y=use)
#비지도학습 1) 위치 좌표 나타내기 2) 군집화