# 부동산 데이터 탐색
* 상업/업무용

In [2]:
import numpy as np
import pandas as pd
import os
import glob
import plotly

In [6]:
path = "Dataset/COMMERCE"
allFiles = glob.glob(os.path.join(path,"*.csv"))

In [7]:
allFiles

['Dataset/COMMERCE\\상업업무용(매매)-실거래가-201808.csv',
 'Dataset/COMMERCE\\상업업무용(매매)-실거래가-201809.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201512.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201601.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201602.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201603.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201604.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201605.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201606.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201607.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201608.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201609.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201610.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201611.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201612.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201701.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201702.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201703.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201704.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201705.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201706.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201707.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201708.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201709.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201710.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201711.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201712.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201801.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201802.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201803.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201804.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201805.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201806.csv',
 'Dataset/COMMERCE\\상업업무용(매매)_실거래가-201807.csv']

In [9]:
np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None,skiprows = 15, engine='python')
    np_array_list.append(df.as_matrix())

comb_np_array = np.vstack(np_array_list)
dataset = pd.DataFrame(comb_np_array)
dataset.columns = df.columns

C:\Anaconda3\envs\public_data_eda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:

Method .as_matrix will be removed in a future version. Use .values instead.

In [10]:
dataset.columns

Index(['시군구', '유형', '지번', '도로명', '용도지역', '건축물주용도', '도로조건', '전용/연면적(㎡)',
       '대지면적(㎡)', '거래금액(만원)', '층', '계약년월', '계약일', '지분구분', '건축년도'],
      dtype='object')

In [11]:
dataset.columns = ["add_1", "type", "add_2","road_name", 
                   "use_district", "building_use", "road_condition", 
                   "GFA", "land_area", "price", "floor", 
                   "year_month", "day", "shares",
                   "built_year"]

In [12]:
dataset.shape # 관측치 : 257739, 항목 : 15

(257739, 15)

In [13]:
dataset.head()

,add_1,type,add_2,road_name,use_district,building_use,road_condition,GFA,land_area,price,floor,year_month,day,shares,built_year
0,강원도 강릉시 교동,일반,9**,화부산로,제2종일반주거,제2종근린생활,25m미만,596.76,307.40,"60,000",NaN,201808,11~20,,1989
1,강원도 강릉시 교동,일반,1***,솔올로5번길,일반상업,제2종근린생활,12m미만,2524.75,590.80,"350,000",NaN,201808,1~10,,2003
2,강원도 강릉시 교동,일반,2**,율곡로2874번길,일반상업,숙박,12m미만,226.56,126.00,"22,000",NaN,201808,21~31,,1983
3,강원도 강릉시 구정면 여찬리,일반,5**,말미길,계획관리,제2종근린생활,8m미만,20.64,84.00,"2,000",NaN,201808,11~20,,2015
4,강원도 강릉시 노암동,일반,5**,남부로136번길,자연녹지,제2종근린생활,8m미만,177.96,900.00,"19,600",NaN,201808,11~20,,2002

In [14]:
dataset.tail()

,add_1,type,add_2,road_name,use_district,building_use,road_condition,GFA,land_area,price,floor,year_month,day,shares,built_year
257734,충청북도 충주시 용산동,일반,2**,용산로,제2종일반주거,제1종근린생활,25m미만,122.32,126.00,"17,000",NaN,201807,11~20,,1974
257735,충청북도 충주시 용산동,일반,1***,남산1길,자연녹지,제2종근린생활,8m미만,22.44,274.33,"3,300",NaN,201807,21~31,,1991
257736,충청북도 충주시 주덕읍 신양리,일반,2**,시장길,일반상업,제2종근린생활,12m미만,151.47,107.00,"13,000",NaN,201807,11~20,,1988
257737,충청북도 충주시 충의동,일반,2*,충인8길,일반상업,제1종근린생활,8m미만,430.61,268.00,"20,000",NaN,201807,21~31,,1980
257738,충청북도 충주시 칠금동,일반,8**,계명대로,준주거,제1종근린생활,25m이상,1376.1,313.10,"247,000",NaN,201807,11~20,,2008